@*@model MealOrder_Project.Models.MealOrders*@

@*@{
    ViewBag.Title = "訂餐";
}*@

@*<h2>訂餐</h2>*@

<form id="form_CreateOrder">
    <div class="input-group mb-3">
        <span class="input-group-text">起訖時間</span>
        <input type="text" id="StartDate", name="StartDate" class="form-control" data-provide="datepicker">
        <span class="input-group-text">~</span>
        <input type="text" id="EndDate" name="EndDate" class="form-control" data-provide="datepicker">
    </div>

    <div class="input-group mb-3">
        <label class="input-group-text" for="category">餐點別</label>
        @Html.DropDownList("category", (IEnumerable<SelectListItem>)ViewBag.category, htmlAttributes: new { @class = "form-select" })
    </div>

    <div class="input-group mb-3">
        <label class="input-group-text" for="type">用餐時段</label>
        @Html.DropDownList("type", (IEnumerable<SelectListItem>)ViewBag.type, htmlAttributes: new { @class = "form-select" })
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text">排除星期六</span>
        @Html.DropDownList("sat", (IEnumerable<SelectListItem>)ViewBag.yesorno, htmlAttributes: new { @class = "form-select" })
        <span class="input-group-text">排除星期日</span>
        @Html.DropDownList("sun", (IEnumerable<SelectListItem>)ViewBag.yesorno, htmlAttributes: new { @class = "form-select" })
    </div>

</form>


<script>

    $(document).ready(function () {
        $('#StartDate').datepicker();
        $('#EndDate').datepicker();

    });



</script>

